In [1]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.8.2-py3-none-any.whl (12.0 MB)
     ---------------------------------------- 12.0/12.0 MB 2.0 MB/s eta 0:00:00
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in c:\users\szymo\appdata\local\programs\python\python310\lib\site-packages (from tabula-py) (1.25.2)
Collecting jpype1
  Downloading JPype1-1.4.1-cp310-cp310-win_amd64.whl (345 kB)
     -------------------------------------- 345.1/345.1 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in c:\users\szymo\appdata\local\programs\python\python310\lib\site-packages (from tabula-py) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\szymo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\szymo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: packaging in c:\users\szymo\appdata\roaming\python\python310\site-packages (from jpype1->tabula-py) (23.2)
Requirement already satisfied: six>=1.5 in c:\users\szymo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: jpype1, distro, tabula-py
Successfully installed distro-1.8.0 jpype1-1.4.1 tabula-py-2.8.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import tabula

# Specify the path to your PDF file
pdf_path = "C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/object_detection/SFCR_TUiR_WARTA_2022.pdf"
# Use tabula to extract tables from the PDF
tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True)

# Save each table as a Pandas DataFrame
for i, table in enumerate(tables):
    table_df = pd.DataFrame(table)
    # You can save the DataFrame to a CSV file or perform further processing
    table_df.to_csv(f"object_detection/tables/table_{i + 1}.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Program Files\\Java\\jre1.8.0_281\\bin\\client\\jvm.dll'

In [8]:
pip install pymupdf

Collecting pymupdf
  Downloading PyMuPDF-1.23.6-cp310-none-win_amd64.whl (3.5 MB)
     ---------------------------------------- 3.5/3.5 MB 1.3 MB/s eta 0:00:00
Collecting PyMuPDFb==1.23.6
  Downloading PyMuPDFb-1.23.6-py3-none-win_amd64.whl (24.5 MB)
     --------------------------------------- 24.5/24.5 MB 84.7 kB/s eta 0:00:00
Installing collected packages: PyMuPDFb, pymupdf
Successfully installed PyMuPDFb-1.23.6 pymupdf-1.23.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import fitz  # PyMuPDF
from difflib import SequenceMatcher

def search_similar_sentence(pdf_path, target_sentence):
    doc = fitz.open(pdf_path)

    similar_sentences = []

    for page_number in range(doc.page_count):
        page = doc[page_number]
        text = page.get_text()

        # You may need to adjust the similarity threshold based on your requirements
        similarity_threshold = 0.6

        # Check if the target sentence is similar to any sentence on the page
        for sentence in text.split('.'):
            similarity = similar(sentence.lower(), target_sentence.lower())
            if similarity > similarity_threshold:
                similar_sentences.append(sentence.strip())

    doc.close()

    return similar_sentences

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

# Example usage
pdf_path = "C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/object_detection/SFCR_TUiR_WARTA_2022.pdf"
target_sentences = ['Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Wypłacone odszkodowania i świadczenia brutto (na zasadzie niekumulatywnej) (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie']

for target_sentence in target_sentences:
    similar_sentences = search_similar_sentence(pdf_path, target_sentence)

    if similar_sentences:
        print(f"Similar sentences found for sentence: {target_sentence}")
        for sentence in similar_sentences:
            print(sentence)
    else:
        print(f"No similar sentences found for sentence: {target_sentence}.")

Similar sentences found for sentence: Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Wypłacone odszkodowania i świadczenia brutto (na zasadzie niekumulatywnej) (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie
ODSZKODOWANIA I ŚWIADCZENIA Z TYTUŁU POZOSTAŁYCH UBEZPIECZEŃ OSOBOWYCH I MAJĄTKOWYCH OGÓŁEM
ZOBOWIĄZANIA Z TYTUŁU DZIAŁALNOŚCI UBEZPIECZENIOWEJ INNEJ NIŻ UBEZPIECZENIA NA ŻYCIE (S

In [28]:
import pandas as pd
df = pd.read_excel('C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/#SFCR/Załącznik nr 4 – Tabele, które powinny być opublikowane jako załącznik do SFCR.xlsx')

In [31]:
# Reset the index to handle RangeIndex
df.reset_index(drop=True, inplace=True)

# Find the first occurrence of 'R0' dynamically
start_index = df.apply(lambda row: row.eq('R0').idxmax(), axis=1).min()

# Find the last occurrence of 'R0' dynamically
end_index = df.apply(lambda row: row.eq('R0').idxmax(), axis=1).max()

# Cast indices to integers
start_index = int(start_index)
end_index = int(end_index)

# Extract the sub-DataFrame
sub_df = df.iloc[start_index:end_index + 1, :]

# Take one column to the left dynamically
result_column = sub_df.apply(lambda row: row.iloc[row.eq('R0').idxmax() - 1] if 'R0' in row.values else None, axis=1)

ValueError: invalid literal for int() with base 10: 'Unnamed: 0'

In [36]:
import openpyxl

# Load the Excel workbook
workbook = openpyxl.load_workbook('C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/#SFCR/Załącznik nr 4 – Tabele, które powinny być opublikowane jako załącznik do SFCR.xlsx')

# Select the desired sheet
sheet = workbook['Wykaz formularzy']  # or specify the sheet name, e.g., sheet = workbook['Sheet1']

# Extract values from cells B5 to B46 into a list
cell_values = [sheet.cell(row=i, column=2).value for i in range(5, 47)]
cell_values

['Pozycje bilansowe',
 'Składki, odszkodowania i świadczenia oraz koszty wg linii biznesowych - Ubezpieczenia inne niż ubezpieczenia na życie (bezpośrednia działalność ubezpieczeniowa i przyjęta reasekuracja proporcjonalna)',
 'Składki, odszkodowania i świadczenia oraz koszty wg linii biznesowych - Ubezpieczenia na życie ',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - Kraj siedziby - ubezpieczenia inne niż ubezpieczenia na życie',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - 5 najważniejszych krajów i kraj siedziby - zobowiązania związane z ubezpieczeniami innymi niż ubezpieczenia na życie',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - 5 najważniejszych krajów i kraj siedziby - zobowiązania związane z ubezpieczeniami innymi niż ubezpieczenia na życie',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - Kraj siedziby - ubezpieczenia inne niż ubezpieczenia na życie',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - 5 najważniejszych krajów i kraj siedziby - zobowiązania związane z ubezpieczeniami na życie',
 'Składki, odszkodowania i świadczenia oraz koszty wg kraju - 5 najważniejszych krajów i kraj siedziby - zobowiązania związane z ubezpieczeniami na życie',
 'Rezerwy techniczno-ubezpieczeniowe dla ubezpieczeń na życie i ubezpieczeń zdrowotnych o charakterze ubezpieczeń na życie',
 'Rezerwy techniczno-ubezpieczeniowe dla ubezpieczeń innych niż ubezpieczenia na życie',
 'Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Wypłacone odszkodowania i świadczenia brutto (na zasadzie niekumulatywnej) (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie',
 'Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Wypłacone odszkodowania i świadczenia brutto (na zasadzie niekumulatywnej) (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie',
 'Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Niezdyskontowane najlepsze oszacowanie dla rezerwy na niewypłacone odszkodowania i świadczenia brutto (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie',
 'Odszkodowania i świadczenia z tytułu pozostałych ubezpieczeń osobowych i majątkowych - Niezdyskontowane najlepsze oszacowanie dla rezerwy na niewypłacone odszkodowania i świadczenia brutto (wartość bezwzględna). Ogółem zobowiązania z tytułu działalności ubezpieczeniowej innej niż ubezpieczenia na życie',
 'Wpływ środków w zakresie gwarancji długoterminowych i środków przejściowych',
 'Środki własne - Środki własne',
 'Środki własne - Rezerwa uzgodnieniowa',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową - Podstawowy kapitałowy wymóg wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową - Obliczanie kapitałowego wymogu wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową - Podstawowy kapitałowy wymóg wypłacalności (PSDZ)',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową - Podejście do stawki podatkowej',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową - Obliczanie zdolności odroczonych podatków dochodowych do pokrywania strat (ang. loss absorbing capacity of deferred taxes, LAC DT)',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową i częściowy model wewnętrzny - Podstawowy kapitałowy wymóg wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową i częściowy model wewnętrzny - Obliczanie kapitałowego wymogu wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową i częściowy model wewnętrzny  - Podejście do stawki podatkowej',
 'Kapitałowy wymóg wypłacalności – dla podmiotów stosujących formułę standardową i częściowy model wewnętrzny - Obliczanie zdolności odroczonych podatków dochodowych do pokrywania strat (ang. loss absorbing capacity of deferred taxes, LAC DT)',
 'Kapitałowy wymóg wypłacalności – dla zakładów stosujących pełny model wewnętrzny - Podstawowy kapitałowy wymóg wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla zakładów stosujących pełny model wewnętrzny - Obliczanie kapitałowego wymogu wypłacalności',
 'Kapitałowy wymóg wypłacalności – dla zakładów stosujących pełny model wewnętrzny - Podejście do stawki podatkowej',
 'Kapitałowy wymóg wypłacalności – dla zakładów stosujących pełny model wewnętrzny - Obliczanie zdolności odroczonych podatków dochodowych do pokrywania strat (ang. loss absorbing capacity of deferred taxes, LAC DT)',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie lub jedynie w zakresie ubezpieczeń innych niż ubezpieczenia na życie - Komponent formuły liniowej dla zobowiązań ubezpieczeniowych i reasekuracyjnych z tytułu ubezpieczeń innych niż ubezpieczenia na życie',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie lub jedynie w zakresie ubezpieczeń innych niż ubezpieczenia na życie - Informacje ogólne',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie lub jedynie w zakresie ubezpieczeń innych niż ubezpieczenia na życie - Komponent formuły liniowej dla zobowiązań ubezpieczeniowych i reasekuracyjnych z tytułu ubezpieczeń na życie',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie lub jedynie w zakresie ubezpieczeń innych niż ubezpieczenia na życie - Całkowita suma na ryzyku w odniesieniu do wszystkich zobowiązań z tytułu (reasekuracji) ubezpieczeń na życie',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie lub jedynie w zakresie ubezpieczeń innych niż ubezpieczenia na życie - Ogólne obliczenie MCR',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Komponent MCR',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Informacje ogólne',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Komponent formuły liniowej dla zobowiązań ubezpieczeniowych i reasekuracyjnych z tytułu ubezpieczeń na życie',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Działalność ubezpieczeniowa lub reasekuracyjna prowadzona jedynie w zakresie ubezpieczeń na życie',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Ogólne obliczenie MCR',
 'Minimalny wymóg kapitałowy – działalność ubezpieczeniowa prowadzona w zakresie zarówno ubezpieczeń na życie, jak i ubezpieczeń innych niż ubezpieczenia na życie - Obliczanie hipotetycznego MCR w ubezpieczeniach innych niż ubezpieczenia na życie i w ubezpieczeniach na życie']

In [37]:
pdf_path = "C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/object_detection/SFCR_TUiR_WARTA_2022.pdf"
target_sentences = cell_values
counter = 0
for target_sentence in target_sentences:
    similar_sentences = search_similar_sentence(pdf_path, target_sentence)

    if similar_sentences:
        # print(f"Similar sentences found for sentence: {target_sentence}")
        # for sentence in similar_sentences:
        #     print(sentence)
        counter += 1
counter/len(target_sentences)

1.3548387096774193

In [38]:
counter/len(target_sentences)

0.7380952380952381

In [72]:
import openpyxl
import re

# Load the Excel workbook
workbook = openpyxl.load_workbook('C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/#SFCR/Załącznik nr 4 – Tabele, które powinny być opublikowane jako załącznik do SFCR.xlsx')

# Define regular expressions for matching patterns
pattern_R = re.compile(r'(R\d{4})')
pattern_C = re.compile(r'(C\d{4})')

df = pd.DataFrame(columns=['sheet', 'value'])

# Iterate through all sheets
for sheet_name in workbook.sheetnames:
    # Access each sheet
    sheet = workbook[sheet_name]

    # Iterate over all cells in the sheet
    # matching_cells = []

    for row in sheet.iter_rows():
        for cell in row:
            if cell.value:
                # Check if the cell value matches the patterns
                matches_R = re.findall(pattern_R, str(cell.value))
                matches_C = re.findall(pattern_C, str(cell.value))

                # If matches are found, store the cell information
                if matches_R or matches_C:
                    # matching_cells.append({
                    #     'sheet': sheet.title,
                    #     'value': cell.value
                    # })
                    df = pd.concat([df, pd.DataFrame({'sheet': sheet.title,
                        'value': cell.value}, index=[0])], ignore_index=True)

df

             sheet  value
0    S.02.01.02.01  C0010
1    S.02.01.02.01  R0010
2    S.02.01.02.01  R0020
3    S.02.01.02.01  R0030
4    S.02.01.02.01  R0040
..             ...    ...
633  S.28.02.01.06  R0520
634  S.28.02.01.06  R0530
635  S.28.02.01.06  R0540
636  S.28.02.01.06  R0550
637  S.28.02.01.06  R0560

[638 rows x 2 columns]

In [71]:
from itertools import product
import numpy as np

df_comb = pd.DataFrame(columns=['sheet', 'R', 'C'])
unique_sheets = df['sheet'].unique()
for sheet in unique_sheets:
    df_sub = df[df.sheet == sheet]
    R_unique = np.unique(np.array(df_sub['value'].str.extract(pattern_R).dropna()).flatten())#.unique()
    C_unique = np.unique(np.array(df_sub['value'].str.extract(pattern_C).dropna()).flatten())
    all_combinations = list(product(R_unique, C_unique))
    if all_combinations:
        R, C = zip(*all_combinations)
        df_comb = pd.concat([df_comb, pd.DataFrame({'sheet': sheet,
                            'R': R, 'C': C})], ignore_index=True)
df_comb

              sheet      R      C
0     S.02.01.02.01  R0010  C0010
1     S.02.01.02.01  R0020  C0010
2     S.02.01.02.01  R0030  C0010
3     S.02.01.02.01  R0040  C0010
4     S.02.01.02.01  R0050  C0010
...             ...    ...    ...
1883  S.28.02.01.06  R0540  C0150
1884  S.28.02.01.06  R0550  C0140
1885  S.28.02.01.06  R0550  C0150
1886  S.28.02.01.06  R0560  C0140
1887  S.28.02.01.06  R0560  C0150

[1888 rows x 3 columns]

In [73]:
df_comb.groupby(['R', 'C']).count().reset_index().sort_values(by='sheet', ascending=False)

          R      C  sheet
390   R0200  C0100      6
451   R0220  C0100      6
421   R0210  C0100      6
178   R0110  C0030      6
241   R0140  C0030      5
...     ...    ...    ...
493   R0230  C0230      1
494   R0230  C0240      1
495   R0230  C0250      1
496   R0230  C0260      1
1129  R2600  C0300      1

[1130 rows x 3 columns]

In [74]:
dt = df_comb[df_comb['R'] == 'R0200']
dt[dt['C'] == 'C0100' ]

              sheet      R      C
160   S.05.01.02.01  R0200  C0100
877   S.12.01.02.01  R0200  C0100
1238  S.19.01.21.01  R0200  C0100
1671  S.25.01.21.02  R0200  C0100
1692  S.25.02.21.02  R0200  C0100
1712  S.25.03.21.02  R0200  C0100

In [75]:
df_comb['sheet'].unique()

array(['S.02.01.02.01', 'S.05.01.02.01', 'S.05.01.02.02', 'S.05.02.01.01',
       'S.05.02.01.02', 'S.05.02.01.03', 'S.05.02.01.04', 'S.05.02.01.05',
       'S.05.02.01.06', 'S.12.01.02.01', 'S.17.01.02.01', 'S.19.01.21.01',
       'S.19.01.21.02', 'S.19.01.21.03', 'S.19.01.21.04', 'S.22.01.21.01',
       'S.23.01.01.01', 'S.23.01.01.02', 'S.25.01.21.01', 'S.25.01.21.02',
       'S.25.01.21.03', 'S.25.01.21.04', 'S.25.01.21.05', 'S.25.02.21.02',
       'S.25.02.21.03', 'S.25.02.21.05', 'S.25.03.21.02', 'S.25.03.21.03',
       'S.25.03.21.05', 'S.28.01.01.01', 'S.28.01.01.02', 'S.28.01.01.03',
       'S.28.01.01.04', 'S.28.01.01.05', 'S.28.02.01.01', 'S.28.02.01.02',
       'S.28.02.01.03', 'S.28.02.01.04', 'S.28.02.01.05', 'S.28.02.01.06'],
      dtype=object)

In [77]:
df_comb.to_csv('C:/Users/szymo/Supervision3mISIe/Supervision3mISIe/object_detection/tables/df_comb.csv', index=False)

In [ ]:
# df_ = pd.DataFrame(columns=['sheet', 'value'])

# Iterate through all sheets
for sheet_name in workbook.sheetnames:
    # Access each sheet
    sheet = workbook[sheet_name]

    # Iterate over all cells in the sheet
    # matching_cells = []

    for row in sheet.iter_rows():
        for cell in row:
            if cell.value:
                # Check if the cell value matches the patterns
                matches_R = re.findall(re.pattern, str(cell.value))
                matches_C = re.findall(pattern_C, str(cell.value))

                # If matches are found, store the cell information
                if matches_R or matches_C:
                    # matching_cells.append({
                    #     'sheet': sheet.title,
                    #     'value': cell.value
                    # })
                    df = pd.concat([df, pd.DataFrame({'sheet': sheet.title,
                        'value': cell.value}, index=[0])], ignore_index=True)

In [90]:
import fitz  # PyMuPDF

def find_pages_with_patterns(pdf_path, pattern_list):
    # Open the PDF file
    pdf_document = fitz.open(pdf_path)
    sheet_dict = {}
    # Initialize a list to store pages for each pattern
    #pages_for_patterns = [[] for _ in pattern_list]

    for pattern in pattern_list:
        sheet_dict[pattern] = None
    # Iterate through all pages
    for page_number in range(pdf_document.page_count):
        page = pdf_document[page_number]

        # Extract text from the page
        text = page.get_text("text")

        # Check if each pattern is present on the page
        for i, pattern in enumerate(pattern_list):
            if pattern in text:
                # If pattern found, add the page to the corresponding list
                #pages_for_patterns[i].append(page_number)
                sheet_dict[pattern] = page_number
            else:
                # iterate through shorten pattern
                pattern_short = '.'.join(pattern.split('.')[:-1])
                if pattern_short in text:
                    # If pattern found, add the page to the corresponding list
                    # pages_for_patterns[i].append(page_number)
                    sheet_dict[pattern] = page_number

    # Close the PDF document
    pdf_document.close()

    return sheet_dict

# Example usage
pdf_path = "SFCR_TUiR_WARTA_2022.pdf"
pattern_list = ["S.05.01.02","S.02.01.02","S.05.02.01.03"]

result = find_pages_with_patterns(pdf_path, pattern_list)

result

{'S.05.01.02': 111, 'S.02.01.02': 109, 'S.05.02.01.03': 114}

In [92]:
from collections import defaultdict

# Creating a defaultdict to store grouped keys
grouped_dict = defaultdict(list)

# Grouping keys by values
for key, value in result.items():
    grouped_dict[value].append(key)

# Converting defaultdict to a regular dictionary
result_dict = dict(grouped_dict)
result_dict

{111: ['S.05.01.02'], 109: ['S.02.01.02'], 114: ['S.05.02.01.03']}

In [94]:
unique_sheets = df['sheet'].unique()

result = find_pages_with_patterns(pdf_path, unique_sheets)

grouped_dict = defaultdict(list)

# Grouping keys by values
for key, value in result.items():
    grouped_dict[value].append(key)

# Converting defaultdict to a regular dictionary
result_dict = dict(grouped_dict)
result_dict

{109: ['S.02.01.02.01'],
 111: ['S.05.01.02.01', 'S.05.01.02.02'],
 114: ['S.05.02.01.01',
  'S.05.02.01.02',
  'S.05.02.01.03',
  'S.05.02.01.04',
  'S.05.02.01.05',
  'S.05.02.01.06'],
 115: ['S.12.01.02.01'],
 116: ['S.17.01.02.01'],
 118: ['S.19.01.21.01', 'S.19.01.21.02', 'S.19.01.21.03', 'S.19.01.21.04'],
 119: ['S.22.01.21.01'],
 120: ['S.23.01.01.01', 'S.23.01.01.02'],
 121: ['S.25.01.21.01',
  'S.25.01.21.02',
  'S.25.01.21.03',
  'S.25.01.21.04',
  'S.25.01.21.05'],
 None: ['S.25.02.21.01',
  'S.25.02.21.02',
  'S.25.02.21.03',
  'S.25.02.21.05',
  'S.25.03.21.01',
  'S.25.03.21.02',
  'S.25.03.21.03',
  'S.25.03.21.05',
  'S.28.02.01.01',
  'S.28.02.01.02',
  'S.28.02.01.03',
  'S.28.02.01.04',
  'S.28.02.01.05',
  'S.28.02.01.06'],
 122: ['S.28.01.01.01',
  'S.28.01.01.02',
  'S.28.01.01.03',
  'S.28.01.01.04',
  'S.28.01.01.05']}

In [96]:
for page in result_dict.keys():
    # Search in df_comb where result_dict[key] list is in df_comb['sheet']
    if page is None:
        continue
    df_filtered = df_comb[df_comb['sheet'].isin(result_dict[page])]

              sheet      R      C
1728  S.28.01.01.01  R0010  C0010
1729  S.28.01.01.02  R0020  C0020
1730  S.28.01.01.02  R0020  C0030
1731  S.28.01.01.02  R0030  C0020
1732  S.28.01.01.02  R0030  C0030
...             ...    ...    ...
1774  S.28.01.01.05  R0320  C0070
1775  S.28.01.01.05  R0330  C0070
1776  S.28.01.01.05  R0340  C0070
1777  S.28.01.01.05  R0350  C0070
1778  S.28.01.01.05  R0400  C0070

[51 rows x 3 columns]